In [1]:
l=[1,2,3,4,"sudh","kumar",45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [4]:
for i in l:
    pass

In [7]:
s="sudh"

In [8]:
for i in s:
    print(i)

s
u
d
h

In [9]:
for i in l :
    print(i)
else:
    print("if for loop is going to complete itself then it will execute else")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself then it will execute else

In [10]:
for i in l :
    if i == 4:
        break
    print(i)
else:
    print("if for loop is going to complete itself then it will execute else")

1
2
3

In [13]:
s = "shudhanshu"
for i in s:
    if i == 'z':
        break
    print(i)
else:
    print("print string", s)

s
h
u
d
h
a
n
s
h
u
print string shudhanshu

In [14]:
t=(4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [16]:
b={4,5,6,7,7,7,7,7,8,"sudh"}
print(type(b))

print(b)
for i in b:
    print(i)

<class 'set'>
{'sudh', 4, 5, 6, 7, 8}
sudh
4
5
6
7
8

In [17]:
d={'key1':"sudh",'contact':842346934,'position':"xyz"}

In [18]:
for i in d:
    print(i)

key1
contact
position

In [19]:
for i in d:
    print(d[i])

sudh
842346934
xyz

In [22]:
for i in d:
    print(i,":", d[i])

key1 : sudh
contact : 842346934
position : xyz

In [23]:
range(0,9) #range is generator

range(0, 9)

In [24]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [26]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [27]:
list(range(0,9,-1)) #isnce direction of step is in opposite direction

[]

In [28]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
n=4
for i in range(4):
    for j in range(0, i+1):
        print("sudh", end=" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [39]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" "* len("sudh"), end=" ")
    for j in range(i+1):
        print("sudh", end=" ")
    for j in range(i):
        print("sudh", end=" ") 
    print("\n")

          sudh

     sudh sudh sudh

sudh sudh sudh sudh sudh

In [47]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [40]:
t=(3,23,45,67,2,4,5,6)

In [46]:
for i in range(len(t)): #range can be used to produce index
    print(i,":",t[i])

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6

In [48]:
s="ineuron"

In [50]:
for i in range(len(s)):
    print(i,":", s[i])

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
6 : n

In [59]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [61]:
for i in range(len(s)-1,-1,-1):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [62]:
d

{'key1': 'sudh', 'contact': 842346934, 'position': 'xyz'}

In [65]:
for i in d.items():
    print(i, type(i), type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 842346934) <class 'tuple'> <class 'int'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [66]:
l1=["sudh","kumar",7669696,"s@gmail.com",696,324823]

In [72]:
l2=[]
for i in l1:
    if type(i)== int:
        l2.append(i)
print(l2)

[7669696, 696, 324823]

In [73]:
d={1:32746276, "name":"sudh", "email":"s@gmail.com", 324324:"ysda", "43":"ewf",232:"8423"}

In [75]:
l3=[]
for i in d:
    if type(i)== int:
        l3.append(i)
print(l3)

[1, 324324, 232]

In [78]:
l3=[]
for i in d:
    if type(i)== int:
     print(i,":",d[i])

1 : 32746276
324324 : ysda
232 : 8423

In [83]:
s="aaaabbccd"

In [85]:
for i in set(s):
    print(i, ":", s.count(i))

c : 2
d : 1
a : 4
b : 2

In [93]:
i=23423492492349235

In [96]:
for j in str(i): #int is not iterable
    print(int(j), type(int(j)))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
9 <class 'int'>
2 <class 'int'>
4 <class 'int'>
9 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
9 <class 'int'>
2 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [116]:
t=("sudh","kumar",[1,2,3,4,5],(1,2,3,4,5),{3:3,"key2":324})

In [117]:
for i in t:
    if type(i)== list or type(i)== tuple :
        for j in i:
            if j==3:
                print(j)
    if type(i)== dict:
        for k,v in i.items():
            if k== 3 or v==3:
               print(v)
               print(k)

3
3
3
3

In [118]:
d={4:5,"key1":"sudh","key2":"kumar"}

In [121]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [122]:
for i,j in d.items():
    print(i,j)

4 5
key1 sudh
key2 kumar