In [ ]:
a = 10 
if a == 11 :
    print("this is my first condition")

In [ ]:
a = 10
if a >5 :
    pass

In [ ]:
a = 10 
if a <8:
    print("print this if condition is true ")

In [ ]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print("print this ")

In [ ]:
a = 10 
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks wil fail then do this ")

In [ ]:
price = 500

if price > 500 : 
    print(" may b i wont be able to buy a jacket ")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")

else  :
    print("i dont know")

In [ ]:
price > 500

In [ ]:
price < 500

In [ ]:
 price == 500

In [ ]:
l = [1,2,3,4,5,6]
2 in l

In [ ]:
if 60 in l :
    print("try to perform a task ")
else :
    print("do not perform this task")

In [ ]:
60 in l

In [ ]:
l

In [ ]:
if 10 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

In [ ]:
a = 400

In [ ]:
b = int(input())

In [ ]:
type(b)

In [ ]:
price  = int(input())
if price  <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
     print("i wont be able to buy anything with this price tag")
     if price >500:
        print("lets try someting else ")

In [ ]:
marks = int(input())
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("You got GRE congratulations")

In [ ]:
val  = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

In [ ]:
a = 10
if a <10  and a == 10 :
    print("try to do someting ")

In [ ]:
a = "sudh"
if a == "sudh" or a == "Sudh":
    print("this is sudh ")

In [ ]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d ==13:
    print("lets do something")

In [ ]:
d = {'key1' :"value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [ ]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

In [ ]:
d['key1']

In [ ]:
l = [1,2,3,4,5,"sudh" ,234.45]

In [ ]:
l[0]

In [ ]:
l[1]

In [ ]:
l[2:5]

In [ ]:
l

In [ ]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

In [ ]:
l

In [ ]:
a=[9, 8,7,6,5,4,3,2,10]
for i in a :
       print(i ,end=' ')

In [ ]:
l

In [ ]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [ ]:
l1

In [ ]:
for a in l:
    if type(a)==int:
        print(a+1)
    elif type(a)==str:
        print(a+str(1))
    elif type(a)==float:
        print(a+float(1))

In [ ]:
for i in l:
    if type(i)==int  or type(i) == float:
        print(i+1)
    elif type(i)== str:    
        print(i+ str(1))

In [ ]:
for i in l :
    if type(i) ==  int or type(i) == float :
        print(i+1) 
    elif type(i) == str:
        print(i + str(1))

In [ ]:
l = [1,2,3,4,5 ,"car",5,6,7]

for i in l:
    if i.isnumeric():
        print(i)

In [ ]:
if d['key1']=="value" and d['key2']=="amrit" and d['key3']=="ineuron":
    print ("all the values aree verified")
    print(d.value())
if d['key1']=="value" and d['key2']=="amrit" and d['key3']=="ineuron":
    print ("all the values aree verified")
    print(d.value())

In [ ]:
list=[]
name=input("Enter a name:-")
while name!="Chandan":
    list.append(name)
#print("Thanks for the confirmation")
    print(list)

In [ ]:
l = [1,2,3,4,5465,67,"sudh"]

In [ ]:
for i in l:
    if type(i)==str:
        if i=='d':
            break
        print(i)

In [ ]:
l = [1,2,3,4,'CK',2020.12]
for i in l:
    if type(i) == int :
        print(i+1)
    elif type(i) == str:
        print(i +str(1))
    elif type(i) == float:
        print(i + float(1))

In [ ]:
a = 10 
if a < 8 :
    print("print this if condition is true")

In [ ]:
marks =int(input())
if marks  > 600:
    print("Able to clear GRE ")
elif marks < 600:
        print("No Gre")
elif marks <500:
    pass

In [ ]:
val = float(input("enter a floating number"))
if val>=0:
    if val== 0:
        print("entered number is zero")
    else:
        print("value is a positive number")
else :
    print("value is a negative number")

In [ ]:
a,b,c,d=10,11,12,13
####### Question 01 #######
if a==10 or b==11 and c==12 and d==113: #### Case 1
    # this is equal to a==10 or (b==11 and c==12 and d==113)
    print('lets do something 1')
if (a==10 and b==11 ) or (c==12 and d==113):  #### Case 2
    # this is equal to (a==10 and b==11) or (c==12 and d==113)
    print('lets do something 2')
if a==10 and b==11 and c==12 and d==13 or a==9:   #### Case 3
    # this is equal to (a==10 and b==11 and c==12 and d==13) or a==9
    print('lets do something 3')
if a==9 or b==11 and c==12 and d==13:   #### Case 4
    print('lets do something 4')
############# Question 2 #########
# What is the difference between:
print(type(a) == int)
print(type(a) is int)

In [ ]:

type(a) == int

In [ ]:
a

In [ ]:
type(a) is int

In [ ]:
l = [0,0,0,0,0,0,0,1324,0,0,0,0,0]

for i in l:
    if i > 0 :
        print("We have an active alarm Number:",i)         
else:
    print ("No alarm")

In [ ]:
l=[1,2,3,4,5,"sudh",234.45]

a=0
l1=[]
for i in l:
    if type(i) == int:
          l1 = l1 + [i]
print(l1)

In [ ]:
l1

In [ ]:
a=int(input("Input a number from 1 to 40-------"))
if a >=1 or a <=9:
    print ("white")
if 10<=a>=20:
    print ("yellow")
if 21<=a>=30:
        print ("blue")
elif 31<=a>=40:
        print ("red")
else :
    print("Please enter number from 1 to 40")

In [ ]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(i + str(1))

In [ ]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(i+ str(1))

In [ ]:
price = int(input("enter an integer"))
if price < 5000 :
    print("I can buy a Jacket")
elif price > 5000 and price <= 10000 :
    print("I can buy a shirt and Jacket")
elif price > 10000 :
    print("I can buy 2 pairs")
else :
    print("leave it")

In [ ]:
l=[[2,56,43],['sad','sad',234,'forty','rest',734],[2-8j,3.065,7,'tinku'],'welcome']
l.insert(2,[12,39,67])

print(l,'\n')
print('Q1')
for i in l :
    if type(i) == list :
        
        for j in range(len(i)) :
            if type(i[j]) == str :
                print('Sublist :',i,'\n','index= ',j,', value = ',i[j],'\n')
                
print(l,'\n' )
print('Q2')
for i in l :
    if type(i) == list :
        for j in range(len(i)) :
            if type(i[j]) == str :
                i[j]=' '
                
                
print('final list after removing all str in nested list:',l)

In [ ]:
#3. Write a Python program to display calendar?

import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,13):
        print(calendar.month(yy,m))
        
#Doubt: Can i change the layout of the o/p?for example, 3 months in a row

In [ ]:
Marks = int(input())
if Marks > 600 :
    print("I am pass in GRE")
elif Marks<600 or Marks>=500:
        print("I am pass in TOFEL")
elif Marks<=500 or Marks>=400:
        print("I am pass in Python")
else :
    print("please try further examination")

In [ ]:
marks = int(input())

if marks < 600:
    print('No Gre admission')
    if marks < 500:
        print('TOEFL')
    elif marks < 400:
        print('try something else')
    else:
        print('got ')
else:
    print('gre admission')

In [ ]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

l[-1]['key1']

In [1]:
l=[1,2,3,4,5,"sudh",23.55]
l1 = []
for i in l:
    if type(i)==int:
        l1.append(i)

In [2]:
l1

[1, 2, 3, 4, 5]

In [7]:
a=10
b=11
c=12
d=12
if a==9 or (b==11 and c==12 and d==13):
    print("lets do something")
else :
    print("nothing ")

nothing

In [9]:
d ={"key1": "value", "key2":"sudh","key3":"ineuron"}
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "ineuron":
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

In [10]:
l = [{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [13]:
list(l[0].keys())

['key1', 234]

In [16]:
for i in l :
    if type(i) == dict :
        print(list(i.keys()))

['key1', 234]

In [18]:
test_list = [3, 5, 6, 8, 10]
  
# printing original list
print("The original list : " + str(test_list))
  
# using list comprehension
# Finding missing elements in List
res = [ele for ele in range(max(test_list)+1) if ele not in test_list]
  
# print result
print("The list of missing elements : " + str(res))

The original list : [3, 5, 6, 8, 10]
The list of missing elements : [0, 1, 2, 4, 7, 9]

In [ ]:
Q. Identify the three blocks in this code:
spam = 0
if spam == 10:
    print('eggs')

if spam >5:
    print('bacon')
else:
    print('ham')
print('spam')
print('spam')

In [20]:
d={'key1':"surendra", 'key2':"sudh", 'key3':"ineuron"}

d.values()

dict_values(['surendra', 'sudh', 'ineuron'])

In [23]:
price = int(input())
if price < 500:
    print("i will be able to buy somthing")
    if price < 300 :
        print("i will be able to buy a shirt")    
    elif price < 400 :
        print("i will be able to buy a jacket")
        if price < 200 :
            print("i would like to do somthig")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")
    if price > 500:
        print("lets try something else")

300
i will be able to buy somthing
i will be able to buy a jacket

In [24]:
l=[1,2,3,"trip",234.6]
for i in l:
    print(l[i])

2
3
trip

TypeError: list indices must be integers or slices, not str

In [25]:
marks=int(input())
if marks>600:
    print('i would get admission in GRE')
elif marks< 600:
    print("no GRE")
    if marks< 500:
        print("ToFEl")
    elif marks<400:
        print("try something else")

345
no GRE
ToFEl

In [27]:
a = "sudh"
if a == "sudh" or a == "Sudh":
    print (" this is Sudh")
else:
    print ("nothing")

 this is Sudh

In [29]:
i = int(input())
if type(i) == int : 
    print("int")
if type(i) == float : 
    print("float") 
else :
    print ("invalid")

34
int
invalid

In [31]:
travel_allowance=int(input()) 
if travel_allowance>1000 :
    print ("you can use petrol cab")
elif travel_allowance < 500 :
    print (" you can use metro train service")

400
 you can use metro train service

In [33]:
x=int(input("Enter the marks  "))
if x<600:
    print("no gre")
elif x<500 or x>400:
    print("tofel")
elif x<400:
    print("try something else")
else:
    print("you got tofel")

Enter the marks  700
tofel

In [34]:
x = 100
y = 100
x is y

True

In [35]:
z = 1000
m = 1000
m is z

False

In [36]:
l = [1,2,3,4,5]

In [37]:
sum(l)

15

In [39]:
t = ("a", 658, "sudh", 23.45)

In [41]:
val = float(input("Enter a floating point number "))

if val >=0:
    if val ==0:
        print("Entered value is zero")
    elif val < 0:
        print("Number is smaller than zero")
    else:
        print("Entered values is positive number")
else:
    print("None")

Enter a floating point number 345.67
Entered values is positive number

In [44]:
l= [1,2,3,4,5,"sudh", 234.45]

for i in l:
    if type(i)== int:
        print(i+5)
    elif type(i)==float:
            print(i+10)
    elif type(i)==str:
        print(l.replace("ineuron"))

6
7
8
9
10

AttributeError: 'list' object has no attribute 'replace'

In [46]:
d = {"a":200,"b":300}
s =sum(d.values())
print("sum",s)

sum 500

In [47]:
def number(i):
    if type(i) == int:
        print("this is an interger")
    elif type(i) == float:
        print("this is a float")
    else:
        print("Invalid")

number(5)

this is an interger

In [49]:

m=int(input())
if m>600:
    print("I will be able to clear Gre")
elif m<=600:
    print("Didn't clear Gre")
    if m<500 and m>=400:
        print("Tofel")
    elif m<400:
        print("try something else")

456
Didn't clear Gre
Tofel